.page-swiper_PageSwiper__Q4HxM {
    position: relative
}

.page-swiper_PageSwiper__Q4HxM:focus {
    outline: none
}

.page-swiper_PageSwiper__overlay__2sgUy {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateY(-100%);
    width: 100vw;
    z-index: 4
}

.page-swiper_PageSwiper__blade__2fFdb {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.page-swiper_PageSwiper--horizontal__3F3qr .page-swiper_PageSwiper__overlay__2sgUy {
    transform: translateX(-100%)
}

.page-swiper_PageSwiper--horizontal__3F3qr.page-swiper_PageSwiper--completed__17hMI .page-swiper_PageSwiper__blade__2fFdb {
    transform: translateX(100%)
}

.page-swiper_PageSwiper--changing__2hjaa .page-swiper_PageSwiper__overlay__2sgUy {
    transition: transform var(--duration) cubic-bezier(.455, .03, .515, .955);
    transform: translate(0)
}

.page-swiper_PageSwiper--completed__17hMI .page-swiper_PageSwiper__overlay__2sgUy {
    transform: translate(0)
}

.page-swiper_PageSwiper--completed__17hMI .page-swiper_PageSwiper__blade__2fFdb {
    transform: translateY(100%);
    transition: transform var(--duration) cubic-bezier(.455, .03, .515, .955)
}

@import"http://hello.myfonts.net/count/3c7583";

:root {
    --color-yellow: #f9ea35;
    --color-green: #ff7f88;
    --color-blue: #96daea;
    --color-red: #f36279;
    --color-black: #1732b4;
    --color-gray: #f4f4f4;
    --color-dark-gray: #1d252c;
    --color-white: #fff
}

@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
    src: url(../../../assets/fonts/normal_normal_normal.woff2) format("woff2"), url(../../../assets/fonts/normal_normal_normal.woff) format("woff")
}

@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
    src: url(../../../assets/fonts/SourceHanSansCN-Bold.otf) format("otf"), url(../../../assets/fonts/SourceHanSansCN-Bold.otf) format("otf")
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--color-black);
    color: var(--color-white);
    font: normal 15px/1.6 Gilroy, sans-serif;
    line-height: 1.6
}

a {
    color: inherit
}

button {
    border-radius: 0;
    font: inherit
}

b,
strong {
    font-weight: 700
}

p {
    margin: 0 0 calc(var(--base-space) * 2) 0
}

.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
h1,
h2,
h3,
h4 {
    font-weight: 700;
    line-height: 1.3;
    margin-top: 0
}

.title-1,
h1 {
    font-size: 32px;
    margin-top: calc(var(--base-space) * 5);
    margin-bottom: calc(var(--base-space) * 5)
}

.title-2,
h2 {
    font-size: 24px;
    margin-top: calc(var(--base-space) * 4);
    margin-bottom: calc(var(--base-space) * 2)
}

.title-3,
h3 {
    font-size: 21px
}

.title-4,
h4 {
    font-size: 18px;
    margin-top: calc(var(--base-space) * 4);
    margin-bottom: calc(var(--base-space) * 2)
}

.title-5,
h5 {
    font-size: 15px
}

.body-larger {
    font-size: 18px
}

.body-smaller {
    font-size: 14px
}

.body-jumbo {
    font-size: 20px
}

@media only screen and (min-width:40em) {
    body {
        font-size: 16px
    }

    .title-1,
    h1 {
        font-size: 40px;
        margin-top: calc(var(--base-space) * 9);
        margin-bottom: calc(var(--base-space) * 8)
    }

    .title-2,
    h2 {
        font-size: 28px;
        margin-top: calc(var(--base-space) * 6);
        margin-bottom: calc(var(--base-space) * 3)
    }

    .title-3,
    h3 {
        font-size: 24px
    }

    .title-4,
    h4 {
        font-size: 20px
    }

    .title-5,
    h5 {
        font-size: 16px
    }

    .body-larger {
        font-size: 20px
    }

    .body-smaller {
        font-size: 16px
    }

    .body-jumbo {
        font-size: 22px
    }
}

@media only screen and (min-width:64em) {

    .title-1,
    h1 {
        font-size: 48px;
        margin-top: calc(var(--base-space) * 15);
        margin-bottom: calc(var(--base-space) * 10)
    }

    .title-2,
    h2 {
        font-size: 32px;
        margin-top: calc(var(--base-space) * 7);
        margin-bottom: calc(var(--base-space) * 4)
    }

    .title-3,
    h3 {
        font-size: 26px
    }

    .body-jumbo {
        font-size: 24px
    }
}

@media only screen and (min-width:71.5em) {

    .title-1,
    h1 {
        font-size: 56px
    }

    .title-2,
    h2 {
        font-size: 36px;
        margin-top: calc(var(--base-space) * 8)
    }

    .title-3,
    h3 {
        font-size: 28px
    }
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.large-up,
.medium-only,
.medium-up,
.xlarge-up {
    display: none
}

@media only screen and (min-width:40em) {
    .small-only {
        display: none
    }

    .medium-up {
        display: inline;
        display: initial
    }
}

@media only screen and (min-width:40em)and (max-width:63.9375em) {
    .medium-only {
        display: inline;
        display: initial
    }
}

@media only screen and (min-width:64em) {
    .medium-down {
        display: none
    }

    .large-up {
        display: inline;
        display: initial
    }
}

@media only screen and (min-width:71.5em) {
    .xlarge-up {
        display: inline;
        display: initial
    }
}

:root {
    --base-space: 8px
}

.u-display-block {
    display: block
}

.u-overflow-hidden {
    overflow: hidden
}

.u-full-width {
    width: 100%
}

.u-position-relative {
    position: relative
}

.u-position-absolute {
    position: absolute
}

.u-list-clean {
    list-style: none;
    margin: 0;
    padding: 0
}

.u-anchor-light,
.u-anchor-no-decoration {
    text-decoration: none
}

.u-anchor-light {
    --color: var(--color-white);
    --background: var(--color-white);
    --transition: 0.3s;
    box-shadow: inset 0 -.05em 0 0 var(--background);
    color: var(--color);
    transition: box-shadow var(--transition) ease, color var(--transition) ease;
    padding: .2em
}

.u-anchor-light:hover {
    box-shadow: inset 0 -1.6em 0 0 var(--background);
    --color: var(--color-black)
}

.u-anchor-dark {
    --color: var(--color-black);
    --background: var(--color-black);
    --transition: 0.3s;
    box-shadow: inset 0 -.05em 0 0 var(--background);
    color: var(--color);
    text-decoration: none;
    transition: box-shadow var(--transition) ease, color var(--transition) ease;
    padding: .2em
}

.u-anchor-dark:hover {
    box-shadow: inset 0 -1.6em 0 0 var(--background);
    --color: var(--color-white)
}

.u-box {
    padding: calc(var(--base-space) * 3);
    border: 1px solid #dae1e7
}

.u-embed {
    margin-bottom: calc(var(--base-space) * 2);
    position: relative
}

.u-embed:before {
    content: "";
    display: block;
    padding-bottom: calc((9 / 16) * 100%)
}

.u-embed iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.u-padding-hack {
    padding-bottom: 1px;
    padding-top: 1px
}

.u-animated-content>canvas,
.u-animated-content>img,
.u-animated-content>video {
    display: block;
    width: 100%
}

.u-animated-content>canvas:last-child,
.u-animated-content>img:last-child,
.u-animated-content>video:last-child {
    display: none
}

@media(prefers-reduced-motion:reduce) {

    .u-animated-content>canvas:first-child,
    .u-animated-content>img:first-child,
    .u-animated-content>video:first-child {
        display: none
    }

    .u-animated-content>canvas:last-child,
    .u-animated-content>img:last-child,
    .u-animated-content>video:last-child {
        display: block
    }
}

.is-reduced-motion .u-animated-content>canvas:first-child,
.is-reduced-motion .u-animated-content>img:first-child,
.is-reduced-motion .u-animated-content>video:first-child {
    display: none
}

.is-reduced-motion .u-animated-content>canvas:last-child,
.is-reduced-motion .u-animated-content>img:last-child,
.is-reduced-motion .u-animated-content>video:last-child {
    display: block
}

.u-bleed-image img,
.u-double-image img {
    display: block;
    width: 100%
}

.u-double-image {
    display: grid;
    grid-gap: calc(var(--base-space) * 2);
    gap: calc(var(--base-space) * 2);
    grid-template-columns: repeat(2, 1fr)
}

.u-bleed-grid,
.u-bleed-image,
.u-double-image {
    margin-bottom: calc(var(--base-space) * 4);
    margin-top: calc(var(--base-space) * 4)
}

.u-margin-top--8 {
    margin-top: calc(var(--base-space) * -8)
}

.u-padding-top--8 {
    padding-top: calc(var(--base-space) * -8)
}

.u-margin-bottom--8 {
    margin-bottom: calc(var(--base-space) * -8)
}

.u-padding-bottom--8 {
    padding-bottom: calc(var(--base-space) * -8)
}

.u-margin-top--4 {
    margin-top: calc(var(--base-space) * -4)
}

.u-padding-top--4 {
    padding-top: calc(var(--base-space) * -4)
}

.u-margin-bottom--4 {
    margin-bottom: calc(var(--base-space) * -4)
}

.u-padding-bottom--4 {
    padding-bottom: calc(var(--base-space) * -4)
}

.u-margin-top-0 {
    margin-top: 0
}

.u-padding-top-0 {
    padding-top: 0
}

.u-margin-bottom-0 {
    margin-bottom: 0
}

.u-padding-bottom-0 {
    padding-bottom: 0
}

.u-margin-top-1 {
    margin-top: var(--base-space)
}

.u-padding-top-1 {
    padding-top: var(--base-space)
}

.u-margin-bottom-1 {
    margin-bottom: var(--base-space)
}

.u-padding-bottom-1 {
    padding-bottom: var(--base-space)
}

.u-margin-top-2 {
    margin-top: calc(var(--base-space) * 2)
}

.u-padding-top-2 {
    padding-top: calc(var(--base-space) * 2)
}

.u-margin-bottom-2 {
    margin-bottom: calc(var(--base-space) * 2)
}

.u-padding-bottom-2 {
    padding-bottom: calc(var(--base-space) * 2)
}

.u-margin-top-3 {
    margin-top: calc(var(--base-space) * 3)
}

.u-padding-top-3 {
    padding-top: calc(var(--base-space) * 3)
}

.u-margin-bottom-3 {
    margin-bottom: calc(var(--base-space) * 3)
}

.u-padding-bottom-3 {
    padding-bottom: calc(var(--base-space) * 3)
}

.u-margin-top-4 {
    margin-top: calc(var(--base-space) * 4)
}

.u-padding-top-4 {
    padding-top: calc(var(--base-space) * 4)
}

.u-margin-bottom-4 {
    margin-bottom: calc(var(--base-space) * 4)
}

.u-padding-bottom-4 {
    padding-bottom: calc(var(--base-space) * 4)
}

.u-margin-top-5 {
    margin-top: calc(var(--base-space) * 5)
}

.u-padding-top-5 {
    padding-top: calc(var(--base-space) * 5)
}

.u-margin-bottom-5 {
    margin-bottom: calc(var(--base-space) * 5)
}

.u-padding-bottom-5 {
    padding-bottom: calc(var(--base-space) * 5)
}

.u-margin-top-6 {
    margin-top: calc(var(--base-space) * 6)
}

.u-padding-top-6 {
    padding-top: calc(var(--base-space) * 6)
}

.u-margin-bottom-6 {
    margin-bottom: calc(var(--base-space) * 6)
}

.u-padding-bottom-6 {
    padding-bottom: calc(var(--base-space) * 6)
}

.u-margin-top-7 {
    margin-top: calc(var(--base-space) * 7)
}

.u-padding-top-7 {
    padding-top: calc(var(--base-space) * 7)
}

.u-margin-bottom-7 {
    margin-bottom: calc(var(--base-space) * 7)
}

.u-padding-bottom-7 {
    padding-bottom: calc(var(--base-space) * 7)
}

.u-margin-top-8 {
    margin-top: calc(var(--base-space) * 8)
}

.u-padding-top-8 {
    padding-top: calc(var(--base-space) * 8)
}

.u-margin-bottom-8 {
    margin-bottom: calc(var(--base-space) * 8)
}

.u-padding-bottom-8 {
    padding-bottom: calc(var(--base-space) * 8)
}

.u-margin-top-10 {
    margin-top: calc(var(--base-space) * 10)
}

.u-padding-top-10 {
    padding-top: calc(var(--base-space) * 10)
}

.u-margin-bottom-10 {
    margin-bottom: calc(var(--base-space) * 10)
}

.u-padding-bottom-10 {
    padding-bottom: calc(var(--base-space) * 10)
}

.u-margin-top-11 {
    margin-top: calc(var(--base-space) * 11)
}

.u-padding-top-11 {
    padding-top: calc(var(--base-space) * 11)
}

.u-margin-bottom-11 {
    margin-bottom: calc(var(--base-space) * 11)
}

.u-padding-bottom-11 {
    padding-bottom: calc(var(--base-space) * 11)
}

.u-margin-top-12 {
    margin-top: calc(var(--base-space) * 12)
}

.u-padding-top-12 {
    padding-top: calc(var(--base-space) * 12)
}

.u-margin-bottom-12 {
    margin-bottom: calc(var(--base-space) * 12)
}

.u-padding-bottom-12 {
    padding-bottom: calc(var(--base-space) * 12)
}

.u-margin-top-15 {
    margin-top: calc(var(--base-space) * 15)
}

.u-padding-top-15 {
    padding-top: calc(var(--base-space) * 15)
}

.u-margin-bottom-15 {
    margin-bottom: calc(var(--base-space) * 15)
}

.u-padding-bottom-15 {
    padding-bottom: calc(var(--base-space) * 15)
}

.u-margin-top-16 {
    margin-top: calc(var(--base-space) * 16)
}

.u-padding-top-16 {
    padding-top: calc(var(--base-space) * 16)
}

.u-margin-bottom-16 {
    margin-bottom: calc(var(--base-space) * 16)
}

.u-padding-bottom-16 {
    padding-bottom: calc(var(--base-space) * 16)
}

.u-margin-top-30 {
    margin-top: calc(var(--base-space) * 30)
}

.u-padding-top-30 {
    padding-top: calc(var(--base-space) * 30)
}

.u-margin-bottom-30 {
    margin-bottom: calc(var(--base-space) * 30)
}

.u-padding-bottom-30 {
    padding-bottom: calc(var(--base-space) * 30)
}

.u-color-black {
    color: var(--color-black)
}

.u-color-white {
    color: var(--color-white)
}

.u-color-red {
    color: var(--color-red)
}

.u-color-yellow {
    color: var(--color-yellow)
}

.u-color-green {
    color: var(--color-green)
}

.u-color-blue {
    color: var(--color-blue)
}

.u-text-center {
    text-align: center
}

.u-text-bold {
    font-weight: 700
}

.u-text-normal {
    font-style: normal
}

.u-background-black {
    /* background-color: var(--color-black) */
    background-color: #1732b4
}

.u-background-green {
    background-color: var(--color-green)
}

.u-background-blue {
    background-color: var(--color-blue)
}

.u-background-red {
    background-color: var(--color-red)
}

.u-background-gray {
    background-color: var(--color-gray)
}

.u-background-dark-gray {
    background-color: var(--color-dark-gray)
}

.u-background-white {
    background-color: var(--color-white)
}

.u-background-yellow {
    background-color: var(--color-yellow)
}

@media only screen and (min-width:40em) {
    .u-box {
        padding: calc(var(--base-space) * 4)
    }

    .u-bleed-grid,
    .u-bleed-image,
    .u-double-image {
        margin-top: calc(var(--base-space) * 4);
        margin-bottom: calc(var(--base-space) * 4)
    }

    .u-bleed-grid,
    .u-bleed-image {
        margin-left: -8.3333333333%;
        max-width: none;
        width: 116.6666666667%
    }

    .u-margin-medium-top--16 {
        margin-top: calc(var(--base-space) * -16)
    }

    .u-padding-medium-top--16 {
        padding-top: calc(var(--base-space) * -16)
    }

    .u-margin-medium-bottom--16 {
        margin-bottom: calc(var(--base-space) * -16)
    }

    .u-padding-medium-bottom--16 {
        padding-bottom: calc(var(--base-space) * -16)
    }

    .u-margin-medium-top--8 {
        margin-top: calc(var(--base-space) * -8)
    }

    .u-padding-medium-top--8 {
        padding-top: calc(var(--base-space) * -8)
    }

    .u-margin-medium-bottom--8 {
        margin-bottom: calc(var(--base-space) * -8)
    }

    .u-padding-medium-bottom--8 {
        padding-bottom: calc(var(--base-space) * -8)
    }

    .u-margin-medium-top-0 {
        margin-top: 0
    }

    .u-padding-medium-top-0 {
        padding-top: 0
    }

    .u-margin-medium-bottom-0 {
        margin-bottom: 0
    }

    .u-padding-medium-bottom-0 {
        padding-bottom: 0
    }

    .u-margin-medium-top-1 {
        margin-top: var(--base-space)
    }

    .u-padding-medium-top-1 {
        padding-top: var(--base-space)
    }

    .u-margin-medium-bottom-1 {
        margin-bottom: var(--base-space)
    }

    .u-padding-medium-bottom-1 {
        padding-bottom: var(--base-space)
    }

    .u-margin-medium-top-2 {
        margin-top: calc(var(--base-space) * 2)
    }

    .u-padding-medium-top-2 {
        padding-top: calc(var(--base-space) * 2)
    }

    .u-margin-medium-bottom-2 {
        margin-bottom: calc(var(--base-space) * 2)
    }

    .u-padding-medium-bottom-2 {
        padding-bottom: calc(var(--base-space) * 2)
    }

    .u-margin-medium-top-3 {
        margin-top: calc(var(--base-space) * 3)
    }

    .u-padding-medium-top-3 {
        padding-top: calc(var(--base-space) * 3)
    }

    .u-margin-medium-bottom-3 {
        margin-bottom: calc(var(--base-space) * 3)
    }

    .u-padding-medium-bottom-3 {
        padding-bottom: calc(var(--base-space) * 3)
    }

    .u-margin-medium-top-4 {
        margin-top: calc(var(--base-space) * 4)
    }

    .u-padding-medium-top-4 {
        padding-top: calc(var(--base-space) * 4)
    }

    .u-margin-medium-bottom-4 {
        margin-bottom: calc(var(--base-space) * 4)
    }

    .u-padding-medium-bottom-4 {
        padding-bottom: calc(var(--base-space) * 4)
    }

    .u-margin-medium-top-6 {
        margin-top: calc(var(--base-space) * 6)
    }

    .u-padding-medium-top-6 {
        padding-top: calc(var(--base-space) * 6)
    }

    .u-margin-medium-bottom-6 {
        margin-bottom: calc(var(--base-space) * 6)
    }

    .u-padding-medium-bottom-6 {
        padding-bottom: calc(var(--base-space) * 6)
    }

    .u-margin-medium-top-7 {
        margin-top: calc(var(--base-space) * 7)
    }

    .u-padding-medium-top-7 {
        padding-top: calc(var(--base-space) * 7)
    }

    .u-margin-medium-bottom-7 {
        margin-bottom: calc(var(--base-space) * 7)
    }

    .u-padding-medium-bottom-7 {
        padding-bottom: calc(var(--base-space) * 7)
    }

    .u-margin-medium-top-8 {
        margin-top: calc(var(--base-space) * 8)
    }

    .u-padding-medium-top-8 {
        padding-top: calc(var(--base-space) * 8)
    }

    .u-margin-medium-bottom-8 {
        margin-bottom: calc(var(--base-space) * 8)
    }

    .u-padding-medium-bottom-8 {
        padding-bottom: calc(var(--base-space) * 8)
    }

    .u-margin-medium-top-9 {
        margin-top: calc(var(--base-space) * 9)
    }

    .u-padding-medium-top-9 {
        padding-top: calc(var(--base-space) * 9)
    }

    .u-margin-medium-bottom-9 {
        margin-bottom: calc(var(--base-space) * 9)
    }

    .u-padding-medium-bottom-9 {
        padding-bottom: calc(var(--base-space) * 9)
    }

    .u-margin-medium-top-10 {
        margin-top: calc(var(--base-space) * 10)
    }

    .u-padding-medium-top-10 {
        padding-top: calc(var(--base-space) * 10)
    }

    .u-margin-medium-bottom-10 {
        margin-bottom: calc(var(--base-space) * 10)
    }

    .u-padding-medium-bottom-10 {
        padding-bottom: calc(var(--base-space) * 10)
    }

    .u-margin-medium-top-14 {
        margin-top: calc(var(--base-space) * 14)
    }

    .u-padding-medium-top-14 {
        padding-top: calc(var(--base-space) * 14)
    }

    .u-margin-medium-bottom-14 {
        margin-bottom: calc(var(--base-space) * 14)
    }

    .u-padding-medium-bottom-14 {
        padding-bottom: calc(var(--base-space) * 14)
    }

    .u-margin-medium-top-15 {
        margin-top: calc(var(--base-space) * 15)
    }

    .u-padding-medium-top-15 {
        padding-top: calc(var(--base-space) * 15)
    }

    .u-margin-medium-bottom-15 {
        margin-bottom: calc(var(--base-space) * 15)
    }

    .u-padding-medium-bottom-15 {
        padding-bottom: calc(var(--base-space) * 15)
    }

    .u-margin-medium-top-16 {
        margin-top: calc(var(--base-space) * 16)
    }

    .u-padding-medium-top-16 {
        padding-top: calc(var(--base-space) * 16)
    }

    .u-margin-medium-bottom-16 {
        margin-bottom: calc(var(--base-space) * 16)
    }

    .u-padding-medium-bottom-16 {
        padding-bottom: calc(var(--base-space) * 16)
    }

    .u-margin-medium-top-22 {
        margin-top: calc(var(--base-space) * 22)
    }

    .u-padding-medium-top-22 {
        padding-top: calc(var(--base-space) * 22)
    }

    .u-margin-medium-bottom-22 {
        margin-bottom: calc(var(--base-space) * 22)
    }

    .u-padding-medium-bottom-22 {
        padding-bottom: calc(var(--base-space) * 22)
    }

    .u-margin-medium-top-30 {
        margin-top: calc(var(--base-space) * 30)
    }

    .u-padding-medium-top-30 {
        padding-top: calc(var(--base-space) * 30)
    }

    .u-margin-medium-bottom-30 {
        margin-bottom: calc(var(--base-space) * 30)
    }

    .u-padding-medium-bottom-30 {
        padding-bottom: calc(var(--base-space) * 30)
    }

    .u-margin-medium-top-31 {
        margin-top: calc(var(--base-space) * 31)
    }

    .u-padding-medium-top-31 {
        padding-top: calc(var(--base-space) * 31)
    }

    .u-margin-medium-bottom-31 {
        margin-bottom: calc(var(--base-space) * 31)
    }

    .u-padding-medium-bottom-31 {
        padding-bottom: calc(var(--base-space) * 31)
    }
}

@media only screen and (min-width:64em) {
    .u-box {
        padding: calc(var(--base-space) * 6)
    }

    .u-bleed-grid,
    .u-bleed-image,
    .u-double-image {
        margin-top: calc(var(--base-space) * 7);
        margin-bottom: calc(var(--base-space) * 7)
    }

    .u-margin-large-top-0 {
        margin-top: 0
    }

    .u-padding-large-top-0 {
        padding-top: 0
    }

    .u-margin-large-bottom-0 {
        margin-bottom: 0
    }

    .u-padding-large-bottom-0 {
        padding-bottom: 0
    }

    .u-margin-large-top-4 {
        margin-top: calc(var(--base-space) * 4)
    }

    .u-padding-large-top-4 {
        padding-top: calc(var(--base-space) * 4)
    }

    .u-margin-large-bottom-4 {
        margin-bottom: calc(var(--base-space) * 4)
    }

    .u-padding-large-bottom-4 {
        padding-bottom: calc(var(--base-space) * 4)
    }

    .u-margin-large-top-5 {
        margin-top: calc(var(--base-space) * 5)
    }

    .u-padding-large-top-5 {
        padding-top: calc(var(--base-space) * 5)
    }

    .u-margin-large-bottom-5 {
        margin-bottom: calc(var(--base-space) * 5)
    }

    .u-padding-large-bottom-5 {
        padding-bottom: calc(var(--base-space) * 5)
    }

    .u-margin-large-top-6 {
        margin-top: calc(var(--base-space) * 6)
    }

    .u-padding-large-top-6 {
        padding-top: calc(var(--base-space) * 6)
    }

    .u-margin-large-bottom-6 {
        margin-bottom: calc(var(--base-space) * 6)
    }

    .u-padding-large-bottom-6 {
        padding-bottom: calc(var(--base-space) * 6)
    }

    .u-margin-large-top-7 {
        margin-top: calc(var(--base-space) * 7)
    }

    .u-padding-large-top-7 {
        padding-top: calc(var(--base-space) * 7)
    }

    .u-margin-large-bottom-7 {
        margin-bottom: calc(var(--base-space) * 7)
    }

    .u-padding-large-bottom-7 {
        padding-bottom: calc(var(--base-space) * 7)
    }

    .u-margin-large-top-8 {
        margin-top: calc(var(--base-space) * 8)
    }

    .u-padding-large-top-8 {
        padding-top: calc(var(--base-space) * 8)
    }

    .u-margin-large-bottom-8 {
        margin-bottom: calc(var(--base-space) * 8)
    }

    .u-padding-large-bottom-8 {
        padding-bottom: calc(var(--base-space) * 8)
    }

    .u-margin-large-top-10 {
        margin-top: calc(var(--base-space) * 10)
    }

    .u-padding-large-top-10 {
        padding-top: calc(var(--base-space) * 10)
    }

    .u-margin-large-bottom-10 {
        margin-bottom: calc(var(--base-space) * 10)
    }

    .u-padding-large-bottom-10 {
        padding-bottom: calc(var(--base-space) * 10)
    }

    .u-margin-large-top-15 {
        margin-top: calc(var(--base-space) * 15)
    }

    .u-padding-large-top-15 {
        padding-top: calc(var(--base-space) * 15)
    }

    .u-margin-large-bottom-15 {
        margin-bottom: calc(var(--base-space) * 15)
    }

    .u-padding-large-bottom-15 {
        padding-bottom: calc(var(--base-space) * 15)
    }

    .u-margin-large-top-18 {
        margin-top: calc(var(--base-space) * 18)
    }

    .u-padding-large-top-18 {
        padding-top: calc(var(--base-space) * 18)
    }

    .u-margin-large-bottom-18 {
        margin-bottom: calc(var(--base-space) * 18)
    }

    .u-padding-large-bottom-18 {
        padding-bottom: calc(var(--base-space) * 18)
    }

    .u-margin-large-top-30 {
        margin-top: calc(var(--base-space) * 30)
    }

    .u-padding-large-top-30 {
        padding-top: calc(var(--base-space) * 30)
    }

    .u-margin-large-bottom-30 {
        margin-bottom: calc(var(--base-space) * 30)
    }

    .u-padding-large-bottom-30 {
        padding-bottom: calc(var(--base-space) * 30)
    }
}

@media only screen and (min-width:71.5em) {
    .u-box {
        padding: calc(var(--base-space) * 7)
    }

    .u-bleed-grid,
    .u-bleed-image,
    .u-double-image {
        margin-top: calc(var(--base-space) * 8);
        margin-bottom: calc(var(--base-space) * 8)
    }

    .u-margin-xlarge-top-8 {
        margin-top: calc(var(--base-space) * 8)
    }

    .u-padding-xlarge-top-8 {
        padding-top: calc(var(--base-space) * 8)
    }

    .u-margin-xlarge-bottom-8 {
        margin-bottom: calc(var(--base-space) * 8)
    }

    .u-padding-xlarge-bottom-8 {
        padding-bottom: calc(var(--base-space) * 8)
    }

    .u-margin-xlarge-top-22 {
        margin-top: calc(var(--base-space) * 22)
    }

    .u-padding-xlarge-top-22 {
        padding-top: calc(var(--base-space) * 22)
    }

    .u-margin-xlarge-bottom-22 {
        margin-bottom: calc(var(--base-space) * 22)
    }

    .u-padding-xlarge-bottom-22 {
        padding-bottom: calc(var(--base-space) * 22)
    }
}

body:after {
    background: #fff;
    bottom: 0;
    color: #000;
    content: "S";
    display: none;
    font-size: 1.6rem;
    padding: 10px;
    position: fixed;
    right: 0;
    z-index: 1
}

.row,
.wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1416px;
    width: 100%
}

.wrapper {
    padding-left: 24px;
    padding-right: 24px
}

.row {
    padding-left: 12px;
    padding-right: 12px
}

.row .row {
    padding-left: 0;
    padding-right: 0;
    margin-left: -12px;
    width: calc(100% + 24px)
}

.row--on-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.column {
    padding-left: 12px;
    padding-right: 12px
}

.column--deep {
    padding-left: 0;
    padding-right: 0
}

@media only screen and (min-width:40em) {
    body:after {
        content: "M"
    }

    .row {
        flex-wrap: wrap;
        justify-content: center
    }

    .column {
        flex-basis: 0;
        flex-grow: 1;
        flex-shrink: 1
    }

    .row {
        display: flex
    }

    .row--nowrap {
        flex-wrap: nowrap
    }

    .row--reverse {
        flex-direction: row-reverse
    }

    .row--vertical-center {
        align-items: center
    }

    .row--vertical-uncenter {
        align-items: baseline
    }

    .row--horizontal-uncenter {
        justify-content: flex-start
    }

    .row--gutterless>.column {
        padding-left: 0;
        padding-right: 0
    }

    .column--1 {
        flex-basis: 8.3333333333%
    }

    .column--1,
    .column--2 {
        flex-grow: 0;
        flex-shrink: 0
    }

    .column--2 {
        flex-basis: 16.6666666667%
    }

    .column--3 {
        flex-basis: 25%
    }

    .column--3,
    .column--4 {
        flex-grow: 0;
        flex-shrink: 0
    }

    .column--4 {
        flex-basis: 33.3333333333%
    }

    .column--5 {
        flex-basis: 41.6666666667%
    }

    .column--5,
    .column--6 {
        flex-grow: 0;
        flex-shrink: 0
    }

    .column--6 {
        flex-basis: 50%
    }

    .column--7 {
        flex-basis: 58.3333333333%
    }

    .column--7,
    .column--8 {
        flex-grow: 0;
        flex-shrink: 0
    }

    .column--8 {
        flex-basis: 66.6666666667%
    }

    .column--9 {
        flex-basis: 75%
    }

    .column--9,
    .column--10 {
        flex-grow: 0;
        flex-shrink: 0
    }

    .column--10 {
        flex-basis: 83.3333333333%
    }

    .column--11 {
        flex-basis: 91.6666666667%
    }

    .column--11,
    .column--12 {
        flex-grow: 0;
        flex-shrink: 0
    }

    .column--12 {
        flex-basis: 100%
    }

    .column-push-1 {
        margin-left: 8.3333333333%
    }

    .column-pull-1 {
        margin-right: 8.3333333333%
    }

    .column-push-2 {
        margin-left: 16.6666666667%
    }

    .column-pull-2 {
        margin-right: 16.6666666667%
    }

    .column-push-3 {
        margin-left: 25%
    }

    .column-pull-3 {
        margin-right: 25%
    }

    .column-push-4 {
        margin-left: 33.3333333333%
    }

    .column-pull-4 {
        margin-right: 33.3333333333%
    }

    .column-push-5 {
        margin-left: 41.6666666667%
    }

    .column-pull-5 {
        margin-right: 41.6666666667%
    }

    .column-push-6 {
        margin-left: 50%
    }

    .column-pull-6 {
        margin-right: 50%
    }

    .column-push-7 {
        margin-left: 58.3333333333%
    }

    .column-pull-7 {
        margin-right: 58.3333333333%
    }

    .column-push-8 {
        margin-left: 66.6666666667%
    }

    .column-pull-8 {
        margin-right: 66.6666666667%
    }

    .column-push-9 {
        margin-left: 75%
    }

    .column-pull-9 {
        margin-right: 75%
    }

    .column-push-10 {
        margin-left: 83.3333333333%
    }

    .column-pull-10 {
        margin-right: 83.3333333333%
    }

    .column-push-11 {
        margin-left: 91.6666666667%
    }

    .column-pull-11 {
        margin-right: 91.6666666667%
    }

    .column-push-12 {
        margin-left: 100%
    }

    .column-pull-12 {
        margin-right: 100%
    }

    .row--force-fill {
        flex-wrap: nowrap
    }

    .row--force-fill .column {
        flex-shrink: 1
    }
}

@media only screen and (min-width:64em) {
    body:after {
        content: "L"
    }

    .row-large {
        display: flex
    }

    .row-large--nowrap {
        flex-wrap: nowrap
    }

    .row-large--reverse {
        flex-direction: row-reverse
    }

    .row-large--vertical-center {
        align-items: center
    }

    .row-large--vertical-uncenter {
        align-items: baseline
    }

    .row-large--horizontal-uncenter {
        justify-content: flex-start
    }

    .row-large--gutterless>.column {
        padding-left: 0;
        padding-right: 0
    }

    .column-large--1 {
        flex-basis: 8.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-large--2 {
        flex-basis: 16.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-large--3 {
        flex-basis: 25%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-large--4 {
        flex-basis: 33.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-large--5 {
        flex-basis: 41.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-large--6 {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-large--7 {
        flex-basis: 58.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-large--8 {
        flex-basis: 66.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-large--9 {
        flex-basis: 75%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-large--10 {
        flex-basis: 83.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-large--11 {
        flex-basis: 91.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-large--12 {
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-push-large-1 {
        margin-left: 8.3333333333%
    }

    .column-pull-large-1 {
        margin-right: 8.3333333333%
    }

    .column-push-large-2 {
        margin-left: 16.6666666667%
    }

    .column-pull-large-2 {
        margin-right: 16.6666666667%
    }

    .column-push-large-3 {
        margin-left: 25%
    }

    .column-pull-large-3 {
        margin-right: 25%
    }

    .column-push-large-4 {
        margin-left: 33.3333333333%
    }

    .column-pull-large-4 {
        margin-right: 33.3333333333%
    }

    .column-push-large-5 {
        margin-left: 41.6666666667%
    }

    .column-pull-large-5 {
        margin-right: 41.6666666667%
    }

    .column-push-large-6 {
        margin-left: 50%
    }

    .column-pull-large-6 {
        margin-right: 50%
    }

    .column-push-large-7 {
        margin-left: 58.3333333333%
    }

    .column-pull-large-7 {
        margin-right: 58.3333333333%
    }

    .column-push-large-8 {
        margin-left: 66.6666666667%
    }

    .column-pull-large-8 {
        margin-right: 66.6666666667%
    }

    .column-push-large-9 {
        margin-left: 75%
    }

    .column-pull-large-9 {
        margin-right: 75%
    }

    .column-push-large-10 {
        margin-left: 83.3333333333%
    }

    .column-pull-large-10 {
        margin-right: 83.3333333333%
    }

    .column-push-large-11 {
        margin-left: 91.6666666667%
    }

    .column-pull-large-11 {
        margin-right: 91.6666666667%
    }

    .column-push-large-12 {
        margin-left: 100%
    }

    .column-pull-large-12 {
        margin-right: 100%
    }
}

@media only screen and (min-width:71.5em) {
    body:after {
        content: "XL"
    }

    .row-xlarge {
        display: flex
    }

    .row-xlarge--nowrap {
        flex-wrap: nowrap
    }

    .row-xlarge--reverse {
        flex-direction: row-reverse
    }

    .row-xlarge--vertical-center {
        align-items: center
    }

    .row-xlarge--vertical-uncenter {
        align-items: baseline
    }

    .row-xlarge--horizontal-uncenter {
        justify-content: flex-start
    }

    .row-xlarge--gutterless>.column {
        padding-left: 0;
        padding-right: 0
    }

    .column-xlarge--1 {
        flex-basis: 8.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xlarge--2 {
        flex-basis: 16.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xlarge--3 {
        flex-basis: 25%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xlarge--4 {
        flex-basis: 33.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xlarge--5 {
        flex-basis: 41.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xlarge--6 {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xlarge--7 {
        flex-basis: 58.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xlarge--8 {
        flex-basis: 66.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xlarge--9 {
        flex-basis: 75%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xlarge--10 {
        flex-basis: 83.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xlarge--11 {
        flex-basis: 91.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xlarge--12 {
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 0
    }
}

@media only screen and (min-width:90em) {
    body:after {
        content: "XXL"
    }

    .row-xxlarge {
        display: flex
    }

    .row-xxlarge--nowrap {
        flex-wrap: nowrap
    }

    .row-xxlarge--reverse {
        flex-direction: row-reverse
    }

    .row-xxlarge--vertical-center {
        align-items: center
    }

    .row-xxlarge--vertical-uncenter {
        align-items: baseline
    }

    .row-xxlarge--horizontal-uncenter {
        justify-content: flex-start
    }

    .row-xxlarge--gutterless>.column {
        padding-left: 0;
        padding-right: 0
    }

    .column-xxlarge--1 {
        flex-basis: 8.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xxlarge--2 {
        flex-basis: 16.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xxlarge--3 {
        flex-basis: 25%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xxlarge--4 {
        flex-basis: 33.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xxlarge--5 {
        flex-basis: 41.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xxlarge--6 {
        flex-basis: 50%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xxlarge--7 {
        flex-basis: 58.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xxlarge--8 {
        flex-basis: 66.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xxlarge--9 {
        flex-basis: 75%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xxlarge--10 {
        flex-basis: 83.3333333333%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xxlarge--11 {
        flex-basis: 91.6666666667%;
        flex-grow: 0;
        flex-shrink: 0
    }

    .column-xxlarge--12 {
        flex-basis: 100%;
        flex-grow: 0;
        flex-shrink: 0
    }
}

.perspective-card {
    perspective: 600px;
    position: relative;
    touch-action: none;
    transform-style: preserve-3d
}

.perspective-card__shine {
    border-bottom-left-radius: 4.25% 3%;
    border-bottom-right-radius: 4.25% 3%;
    border-top-left-radius: 4.35% 3%;
    border-top-right-radius: 4.25% 3%;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform: translateZ(.5px);
    width: 100%
}

.perspective-card__artwork {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    box-shadow: 5px 5px 0 transparent;
    transition: box-shadow .5s linear
}

.perspective-card__artwork img {
    display: block;
    width: 100%
}

.perspective-card__artwork--back {
    left: 0;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    width: 100%
}

.perspective-card__artwork--front {
    position: relative
}

.perspective-card__transformer {
    position: relative;
    transform-style: preserve-3d
}

.perspective-card--over .perspective-card__artwork {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .4)
}

.perspective-card--matte {
    background-color: rgba(0, 0, 0, .5);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity .5s linear;
    width: 100vw;
    z-index: 1000
}

.perspective-card--matte.perspective-card--modal {
    opacity: 1;
    pointer-events: all
}

.perspective-card.perspective-card--modal {
    z-index: 1001
}

.perspective-card__transformer {
    will-change: trasform
}

.perspective-card__artwork,
.perspective-card__shine {
    border-bottom-left-radius: 4.25% 3%;
    border-bottom-right-radius: 4.25% 3%;
    border-top-left-radius: 4.35% 3%;
    border-top-right-radius: 4.25% 3%;
    overflow: hidden
}

:root {
    --nav-size: 86px
}

*,
:after,
:before {
    box-sizing: border-box
}

:focus:not(:focus-visible) {
    outline: none
}

body {
    margin: 0
}

img {
    max-width: 100%
}

img[height] {
    height: auto
}

a:focus-visible,
button:focus-visible {
    box-shadow: inset 0 0 0 2px var(--color-black), inset 0 0 0 4px var(--color-yellow);
    outline: none
}

.cms-markup a:not([class*=Button]) {
    --color: var(--color-black);
    --background: var(--color-black);
    --transition: 0.3s;
    box-shadow: inset 0 -.05em 0 0 var(--background);
    color: var(--color);
    text-decoration: none;
    transition: box-shadow var(--transition) ease, color var(--transition) ease;
    padding: .2em
}

.cms-markup a:not([class*=Button]):hover {
    box-shadow: inset 0 -1.6em 0 0 var(--background);
    --color: var(--color-white)
}

.cms-markup p:last-child {
    margin-bottom: 0
}

.cms-markup h2:first-child {
    margin-top: 0
}

@media screen and (min-width:750px) {
    :root {
        --nav-size: 118px
    }
}