.page-content_PageContent__S6RKn {
    --section-space: calc(var(--base-space) * 11);
    background-color: var(--color-white);
    color: var(--color-black);
    padding-bottom: var(--section-space);
    padding-top: var(--section-space)
}

.page-content_PageContent__S6RKn.page-content_PageContent--overlap__2hNw4 {
    padding-top: 1px
}

.page-content_PageContent__S6RKn.page-content_PageContent--small-padding-top__3u4Dn {
    padding-top: calc(var(--base-space) * 5)
}

.page-content_PageContent__S6RKn.page-content_PageContent--nopadding__aSJsE {
    padding-bottom: 0
}

.page-content_PageContent__S6RKn.page-content_PageContent--tight__1Q3WT {
    padding-bottom: calc(var(--base-space) * 6);
    padding-top: calc(var(--base-space) * 8)
}

.page-content_PageContent--gray__2UPmN {
    background-color: var(--color-gray)
}

.page-content_PageContent--black__6qtDy {
    background-color: var(--color-black);
    color: var(--color-white)
}

.page-content_PageContent--yellow__1chDx {
    background-color: var(--color-yellow);
    color: var(--color-black)
}

@media only screen and (min-width:40em) {
    .page-content_PageContent__S6RKn {
        --section-space: calc(var(--base-space) * 13)
    }

    .page-content_PageContent__S6RKn.page-content_PageContent--last__1wCPc {
        padding-bottom: calc(var(--base-space) * 13)
    }

    .page-content_PageContent__S6RKn.page-content_PageContent--small-padding-top__3u4Dn {
        padding-top: calc(var(--base-space) * 8)
    }

    .page-content_PageContent__S6RKn.page-content_PageContent--tight__1Q3WT {
        padding-bottom: calc(var(--base-space) * 8);
        padding-top: calc(var(--base-space) * 10)
    }
}

@media only screen and (min-width:64em) {
    .page-content_PageContent__S6RKn {
        --section-space: calc(var(--base-space) * 21)
    }

    .page-content_PageContent__S6RKn.page-content_PageContent--small-padding-top__3u4Dn {
        padding-top: calc(var(--base-space) * 10)
    }
}

.page-header_PageHeader__2LuS_ {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: var(--nav-size) 0 calc(var(--base-space) * 4)
}

.page-header_PageHeader__2LuS_.page-header_PageHeader--no-padding__10nON {
    padding-bottom: 0
}

.page-header_PageHeader__2LuS_.page-header_PageHeader--match-content-padding__2JfCx {
    padding-bottom: calc(var(--base-space) * 11)
}

.page-header_PageHeader--light__Gjq-f {
    background-color: var(--color-gray);
    color: var(--color-black)
}

@media only screen and (min-width:40em) {
    .page-header_PageHeader__2LuS_ {
        padding-bottom: calc(var(--base-space) * 8)
    }

    .page-header_PageHeader__2LuS_.page-header_PageHeader--match-content-padding__2JfCx {
        padding-bottom: calc(var(--base-space) * 13)
    }

    .page-header_PageHeader__2LuS_ {
        padding-bottom: calc(var(--base-space) * 10)
    }

    .page-header_PageHeader__2LuS_.page-header_PageHeader--match-content-padding__2JfCx {
        padding-bottom: calc(var(--base-space) * 21)
    }
}

.text-link_TextLink__Nkw07 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.3;
    text-decoration: none
}

.text-link_TextLink__Nkw07:hover {
    background-color: transparent;
    color: inherit
}

.text-link_TextLink__Nkw07:hover .text-link_TextLink__icon__3SpE9 {
    transform: translateX(var(--base-space)) scaleX(1.2)
}

.text-link_TextLink__icon__3SpE9 {
    display: inline;
    margin-left: var(--base-space);
    transition: transform .3s cubic-bezier(.455, .03, .515, .955)
}

.text-link_TextLink--small__2F828 {
    font-size: 15px
}

@media only screen and (min-width:40em) {
    .text-link_TextLink__Nkw07 {
        font-size: 20px
    }

    .text-link_TextLink--small__2F828 {
        font-size: 16px
    }
}

.image-list_ImageList__1jHr5 {
    --margin: calc(var(--base-space) * 5);
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    position: relative
}

@media only screen and (min-width:40em) {
    .image-list_ImageList__1jHr5 {
        --margin: calc(var(--base-space) * 7)
    }
}

@media only screen and (min-width:64em) {
    .image-list_ImageList__1jHr5 {
        --margin: calc(var(--base-space) * 10)
    }
}

.image-list-item_ImageListItem__img__2eVyk {
    width: 67%
}

.image-list-item_ImageListItem--offset__1O6Lo .image-list-item_ImageListItem__img__2eVyk {
    margin: 0 0 0 auto
}

@media only screen and (min-width:40em) {
    .image-list-item_ImageListItem__img__2eVyk {
        width: 100%
    }

    .image-list-item_ImageListItem--offset__1O6Lo .image-list-item_ImageListItem__img__2eVyk {
        margin-bottom: calc(var(--base-space) * -3);
        margin-top: calc(var(--base-space) * 3)
    }
}

@media only screen and (min-width:64em) {
    .image-list-item_ImageListItem--offset__1O6Lo .image-list-item_ImageListItem__img__2eVyk {
        margin-bottom: calc(var(--base-space) * -5);
        margin-top: calc(var(--base-space) * 5)
    }
}

@media only screen and (min-width:71.5em) {
    .image-list-item_ImageListItem--offset__1O6Lo .image-list-item_ImageListItem__img__2eVyk {
        margin-bottom: calc(var(--base-space) * -7);
        margin-top: calc(var(--base-space) * 7)
    }
}

.animate_Animate__2ERE1 {
    opacity: 0
}

.animate_Animate--bottom__pfVA6 {
    transform: translateY(80%) skewY(2deg)
}

.animate_Animate--top__1Ql7z {
    transform: translateY(-80%) skewY(2deg)
}

.animate_Animate--left__2mF7n {
    transform: translateX(-80%) skewX(2deg)
}

.animate_Animate--right__26MAK {
    transform: translateX(80%) skewX(2deg)
}

.animate_Animate--inview__3C2Y0 {
    transition: transform .6s cubic-bezier(.455, .03, .515, .955), opacity .5s cubic-bezier(.455, .03, .515, .955)
}

.animate_Animate--inview__3C2Y0,
.animate_Animate--rm__2ZY2H {
    transform: translateY(0) skewY(0);
    opacity: 1
}

.animate_Animate--rm__2ZY2H {
    transition: none
}

.values-icons_ValueIcon__26nSy {
    display: block;
    width: 100%
}

.values-icons_ValueIcon__path__j9hjg {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 1s cubic-bezier(.455, .03, .515, .955) .8s
}

.values-icons_ValueIcon__group__2RvjF {
    opacity: 0;
    transition: .5s ease
}

.values-icons_ValueIcon__name__1p_PI {
    transform: translateX(100%);
    transition: transform .8s cubic-bezier(.455, .03, .515, .955) .8s
}

.values-icons_ValueIcon__active__4_-oh {
    opacity: 1
}

.values-icons_ValueIcon__active__4_-oh .values-icons_ValueIcon__path__j9hjg {
    stroke-dashoffset: 0
}

.values-icons_ValueIcon__active__4_-oh .values-icons_ValueIcon__name__1p_PI {
    transform: translateX(0)
}

.service-icon_ServiceIcon__group__3Ik3g {
    opacity: 0;
    transition: opacity .8s ease-in .8s
}

.service-icon_ServiceIcon__path__2gnH4 {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 1s cubic-bezier(.455, .03, .515, .955), opacity .6s ease 1s
}

.service-icon_ServiceIcon--inview__3n3i_ .service-icon_ServiceIcon__group__3Ik3g {
    opacity: 1
}

.service-icon_ServiceIcon--inview__3n3i_ .service-icon_ServiceIcon__path__2gnH4 {
    stroke-dashoffset: 0;
    opacity: 0
}

.about-us_GoalsList__-BRlj {
    margin-top: calc(var(--base-space) * 6)
}

.about-us_Service__34tu_ {
    display: grid;
    grid-template-columns: 94px 1fr;
    grid-template-rows: -webkit-min-content auto;
    grid-template-rows: min-content auto;
    grid-gap: 0 24px;
    gap: 0 24px
}

.about-us_Service__list__RwuOh,
.about-us_Service__title__39rBK {
    grid-column: 2
}

.about-us_Service__icon__14MHA {
    display: block;
    max-width: 100%;
    grid-row: 1/-1
}

.about-us_LeadersList__hR2p0 {
    margin-bottom: 0
}

.about-us_ProcessImg--small__pvFqx {
    display: block
}

.about-us_ProcessImg--large__3Gl9d {
    display: none
}

.about-us_ProcessImg__area-label__2v8gH {
    fill: var(--color-black);
    font-size: 20px
}

.about-us_ProcessImg__area-label__2v8gH text {
    transition: opacity .6s ease;
    opacity: 0
}

.about-us_ProcessImg__area-label__2v8gH text:first-child {
    transition-delay: 1.64s
}

.about-us_ProcessImg__area-label__2v8gH text:nth-child(2) {
    transition-delay: 1.78s
}

.about-us_ProcessImg__area-label__2v8gH text:nth-child(3) {
    transition-delay: 1.92s
}

.about-us_ProcessImg__area-label__2v8gH text:nth-child(4) {
    transition-delay: 2.06s
}

.about-us_ProcessImg__area-label__2v8gH text:nth-child(5) {
    transition-delay: 2.2s
}

.about-us_ProcessImg__process-label__1MQ8b {
    fill: var(--color-black);
    font-size: 28px;
    font-weight: 700
}

.about-us_ProcessImg__process-label__1MQ8b text {
    transition: opacity .6s ease;
    opacity: 0
}

.about-us_ProcessImg__process-label__1MQ8b text:first-child {
    transition-delay: 1.14s
}

.about-us_ProcessImg__process-label__1MQ8b text:nth-child(2) {
    transition-delay: 1.28s
}

.about-us_ProcessImg__process-label__1MQ8b text:nth-child(3) {
    transition-delay: 1.42s
}

.about-us_ProcessImg__process-label__1MQ8b text:nth-child(4) {
    transition-delay: 1.56s
}

.about-us_ProcessImg__colored-dashes__2uq0b,
.about-us_ProcessImg__colored-diamond__2TfSH {
    opacity: 0;
    transition: opacity 1s ease-in .7s
}

.about-us_ProcessImg__colored-dashes__2uq0b {
    transition-delay: .9s
}

.about-us_ProcessImg__dashes__1q_Tb,
.about-us_ProcessImg__diamond__23OAP {
    stroke-dasharray: 1;
    stroke-dashoffset: 1;
    transition: stroke-dashoffset 2s cubic-bezier(.455, .03, .515, .955), opacity .6s ease 1.4s
}

.about-us_ProcessImg__dashes__1q_Tb {
    transition-delay: .4s
}

.about-us_ProcessImg--inview__3Xegk .about-us_ProcessImg__area-label__2v8gH text,
.about-us_ProcessImg--inview__3Xegk .about-us_ProcessImg__colored-dashes__2uq0b,
.about-us_ProcessImg--inview__3Xegk .about-us_ProcessImg__colored-diamond__2TfSH,
.about-us_ProcessImg--inview__3Xegk .about-us_ProcessImg__process-label__1MQ8b text {
    opacity: 1
}

.about-us_ProcessImg--inview__3Xegk .about-us_ProcessImg__dashes__1q_Tb,
.about-us_ProcessImg--inview__3Xegk .about-us_ProcessImg__diamond__23OAP {
    opacity: 0;
    stroke-dashoffset: 0
}

@media only screen and (max-width:39.9375em) {
    .about-us_LeadersList__hR2p0 {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0
    }

    .about-us_LeadersList__hR2p0 li {
        width: 50%
    }

    .about-us_LeadersList__hR2p0 li>div {
        width: 100%
    }
}

@media only screen and (min-width:40em) {
    .about-us_ProcessImg--small__pvFqx {
        display: none
    }

    .about-us_ProcessImg--large__3Gl9d {
        display: block
    }
}