.button_Button__2YXOv {
    --background: var(--color-black);
    --color: var(--color-white);
    --border: var(--color-black);
    --transition: 0.3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--background);
    border: 2px solid var(--border);
    color: var(--color);
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    padding: calc(var(--base-space) * 2) calc(var(--base-space) * 6);
    position: relative;
    transition: color var(--transition) .1s cubic-bezier(.455, .03, .515, .955), background-color 0s linear;
    font-family: "SourceHanSansCN-Light.otf"
}

.button_Button__2YXOv:focus-visible {
    box-shadow: 0 0 0 2px var(--color-yellow), 0 0 0 4px var(--color-black);
    outline: none
}

.button_Button__2YXOv:before {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    content: "";
    background-color: var(--color);
    transform: translateY(120%) skewY(2deg);
    transition: transform var(--transition) cubic-bezier(.455, .03, .515, .955)
}

.button_Button__2YXOv:hover {
    --background: var(--color-white);
    --color: var(--color-black);
    color: var(--color);
    transition-delay: 0s, var(--transition)
}

.button_Button__2YXOv:hover:before {
    background-color: var(--background);
    transform: none
}

.button_Button__children__27YNQ {
    position: relative
}

.button_Button--light__2tVHI {
    --background: var(--color-white);
    --color: var(--color-black);
    --border: var(--color-white)
}

.button_Button--light__2tVHI:hover {
    --background: var(--color-black);
    --color: var(--color-white)
}

.button_Button--transparent__32Lry {
    --background: transparent;
    --color: var(--color-white);
    border: 2px solid var(--color-white)
}

.button_Button--transparent__32Lry:hover {
    --background: var(--color-white);
    --color: var(--color-black)
}

.button_Button--outline__3fbrI {
    box-shadow: 0 0 0 2px currentColor
}

.button_Button--rm__2YR4W {
    transition-delay: 0s;
    transition-duration: var(--transition)
}

.button_Button--rm__2YR4W:before {
    display: none
}

@media only screen and (min-width:40em) {
    .button_Button__2YXOv {
        padding-left: calc(var(--base-space) * 8);
        padding-right: calc(var(--base-space) * 8)
    }
}

.equation-nav_EquationNav__Rm7H4 {
    background-color: var(--color-white);
    display: table;
    margin: 0 auto;
    position: relative
}

.equation-nav_EquationNav__bar__27PBY {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform-origin: left center;
    transition: transform .4s cubic-bezier(.455, .03, .515, .955), opacity .2s cubic-bezier(.455, .03, .515, .955), background-color .2s cubic-bezier(.455, .03, .515, .955);
    will-change: opacity, transform, background-color;
    width: 1px
}

.equation-nav_EquationNav__anchor__2-yQ6 {
    display: block
}

.equation-nav_EquationNav__anchor__2-yQ6:focus-visible {
    box-shadow: 0 0 0 2px var(--color-yellow), 0 0 0 4px var(--color-black);
    outline: none
}

.equation-nav_EquationNav__anchor__2-yQ6:hover {
    color: var(--color-black);
    background-color: transparent
}

.equation-nav_EquationNav__anchor__2-yQ6:focus {
    position: relative
}

.equation-nav_EquationNav__list__s5BuX {
    display: grid;
    grid-template-columns: repeat(5, -webkit-max-content);
    grid-template-columns: repeat(5, max-content);
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative
}

.equation-nav_EquationNav__list__s5BuX li {
    display: block
}

.equation-nav_EquationNav__list__s5BuX svg {
    color: var(--color-black);
    display: block;
    transform: translateZ(1px)
}

.equation-nav_EquationNav--rm__sNlfA .equation-nav_EquationNav__bar__27PBY {
    transition: none
}

.icon_Icon__l-lnM {
    display: inline-block;
    vertical-align: middle
}

.sweet-potato_SweetPotato__open-btn__2kP8A {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--color-black);
    border: none;
    cursor: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' style='font-size: 20px'><text y='17'>🍠</text><path d='M0,2 L0,0 L2,0' fill='yellow' /></svg>"), auto;
    padding: 0
}

.sweet-potato_SweetPotato__open-btn__2kP8A:active,
.sweet-potato_SweetPotato__open-btn__2kP8A:focus {
    background-color: var(--color-yellow)
}

.sweet-potato_SweetPotato__open-btn__2kP8A:focus-visible {
    box-shadow: none
}

.sweet-potato_SweetPotato__svg__1lIpT {
    display: block
}

.sweet-potato_SweetPotato__overlay__QKN7D {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10
}

.sweet-potato_SweetPotato__canvas__15F5y {
    display: block
}

.sweet-potato_SweetPotato__close__2BBR2 {
    display: block;
    margin: 0 0 0 auto;
    padding: 8px
}

.sweet-potato_SweetPotato__close__2BBR2 svg {
    display: block
}

.sweet-potato_SweetPotato__close__2BBR2+p {
    margin-top: calc(var(--base-space) * 2)
}

.sweet-potato_SweetPotato__message__3ZgNT {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-white);
    border: solid calc(var(--base-space) * 2) var(--color-black);
    color: var(--color-black);
    max-width: 610px;
    padding: calc(var(--base-space) * 2);
    width: 90%
}

.reduce-motion-button_ReduceMotionButton__H0bQs {
    --circle-color: currentColor;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    display: inline-flex;
    font-size: 13px;
    opacity: .7;
    padding: 4px 4px 6px
}

.reduce-motion-button_ReduceMotionButton__H0bQs:before {
    content: "";
    /* border: 1px solid; */
    border-radius: 50%;
    margin-right: var(--base-space);
    height: 12px;
    width: 12px
}

.reduce-motion-button_ReduceMotionButton__H0bQs:focus,
.reduce-motion-button_ReduceMotionButton__H0bQs:hover {
    opacity: 1
}

.reduce-motion-button_ReduceMotionButton__H0bQs[aria-pressed=true]:before {
    /* background: radial-gradient(var(--circle-color) 3px, transparent 3px) 50% no-repeat */
}

.reduce-motion-button_ReduceMotionButton--dark__2Oifu {
    --circle-color: var(--color-yellow)
}

.reduce-motion-button_ReduceMotionButton--mono__1v0X3 {
    --circle-color: currentColor
}

.social-links-list_SocialLinksList__2tspI {
    background-color: var(--color-white);
    display: table;
    margin: 0 auto;
    position: relative
}

.social-links-list_SocialLinksList__bar__XFUEj {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform-origin: left center;
    transition: transform .4s cubic-bezier(.455, .03, .515, .955), opacity .2s cubic-bezier(.455, .03, .515, .955), background-color .2s cubic-bezier(.455, .03, .515, .955);
    width: 1px
}

.social-links-list_SocialLinksList__list__24MlB {
    color: var(--color-black);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative
}

.bgc-img-currentcolor {
    background-color: currentColor;
}

.social-links-list_SocialLinksList__list__24MlB li {
    display: inline-flex
}

.social-links-list_SocialLinksList__list__24MlB li:after {
    content: "";
    display: block;
    background-color: currentColor;
    flex: 0 0 auto;
    width: calc(var(--base-space) * 4)
}

.social-links-list_SocialLinksList__list__24MlB li:last-child:after {
    display: none
}

.social-links-list_SocialLinksList__anchor__3ZBzR {
    display: block
}

.social-links-list_SocialLinksList__anchor__3ZBzR:focus-visible {
    box-shadow: 0 0 0 2px var(--color-yellow), 0 0 0 4px var(--color-black);
    outline: none
}

.social-links-list_SocialLinksList__anchor__3ZBzR:hover {
    color: var(--color-black);
    background-color: transparent
}

.social-links-list_SocialLinksList__anchor__3ZBzR:focus {
    position: relative
}

.social-links-list_SocialLinksListIcon__3SPGo {
    display: block
}

.social-links-list_SocialLinksList--rm__3tIgu .social-links-list_SocialLinksList__bar__XFUEj {
    transition: none
}

.skip-to-content-button_SkipToContentButton__3IKuV {
    align-items: center;
    display: inline-flex;
    font-size: 13px;
    text-decoration: none;
    padding: 4px 4px 6px
}

.skip-to-content-button_SkipToContentButton__3IKuV:before {
    --triangle-color: var(--color-yellow);
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid var(--triangle-color);
    content: "";
    height: 0;
    margin-right: var(--base-space);
    width: 0
}

.skip-to-content-button_SkipToContentButton--light__173ly:before {
    --triangle-color: currentColor
}

.footer_Footer__3PeJE {
    background-color: var(--color-black);
    color: var(--color-white);
    text-align: center;
    padding-top: calc(var(--base-space) * 5);
    padding-bottom: calc(var(--base-space) * 2)
}

.footer_Footer__equation__3McR3 {
    margin-bottom: calc(var(--base-space) * 5)
}

.footer_Footer_easter-egg__2uzT8 {
    display: none;
    margin-top: var(--base-space)
}

.footer_Footer__link__3_Pcl {
    --color: var(--color-white);
    --background: var(--color-white);
    --transition: 0.3s;
    box-shadow: inset 0 -.05em 0 0 var(--background);
    color: var(--color);
    text-decoration: none;
    transition: box-shadow var(--transition) ease, color var(--transition) ease;
    padding: .2em;
    display: inline-block;
    margin-right: calc(var(--base-space) * 2)
}

.footer_Footer__link__3_Pcl:hover {
    box-shadow: inset 0 -1.6em 0 0 var(--background);
    --color: var(--color-black)
}

.footer_Footer__link__3_Pcl:last-child {
    margin-right: 0
}

@media only screen and (min-width:40em) {
    .footer_Footer__3PeJE {
        padding-top: calc(var(--base-space) * 7);
        padding-bottom: calc(var(--base-space) * 3)
    }

    .footer_Footer__equation__3McR3 {
        margin-bottom: calc(var(--base-space) * 7)
    }
}

@media only screen and (min-width:64em) {
    .footer_Footer__3PeJE {
        padding-top: calc(var(--base-space) * 10);
        padding-bottom: calc(var(--base-space) * 4)
    }

    .footer_Footer__equation__3McR3 {
        margin-bottom: calc(var(--base-space) * 10)
    }

    .footer_Footer__links__1cm4q {
        margin-top: calc(var(--base-space) * 2)
    }
}

.navigation_Logo__3um9v {
    display: block;
    height: 100%;
    pointer-events: none;
    width: auto
}

.navigation_Logo__closing__JIOLG,
.navigation_Logo__collective__X_JYA,
.navigation_Logo__the__3-5ZM {
    opacity: 0;
    transform: translateX(10px);
    transition: opacity .4s ease, transform .4s ease
}

.navigation_Navigation__1vNsH {
    align-items: center;
    background-color: var(--color-black);
    display: grid;
    grid-template-columns: -webkit-max-content 1fr;
    grid-template-columns: max-content 1fr;
    grid-template-rows: -webkit-max-content 1fr;
    grid-template-rows: max-content 1fr;
    grid-gap: 0 var(--base-space);
    gap: 0 var(--base-space);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4
}

.navigation_Navigation__logo__1nnku {
    background-color: var(--color-black);
    color: var(--color-white);
    grid-row: 1/span 2;
    position: relative
}

.navigation_Navigation__bar__2QEtw,
.navigation_Navigation__logo-toggler__1UVXE {
    display: none
}

.navigation_Navigation__buttons__1iI4B {
    display: grid;
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    grid-gap: var(--base-space);
    gap: var(--base-space);
    justify-content: end;
    padding: 0 var(--base-space) 0 0
}

.navigation_Navigation__buttons__1iI4B button {
    display: none
}

.navigation_Navigation__skippers__GjTtR {
    height: 0;
    overflow: hidden;
    width: 0
}

.navigation_Navigation__skippers__GjTtR:focus-within {
    height: auto;
    overflow: visible;
    width: auto
}

.navigation_Navigation__logo-anchor__FfJuC {
    color: inherit;
    display: block;
    height: var(--nav-size);
    position: relative;
    width: var(--nav-size)
}

.navigation_Navigation__logo-anchor__FfJuC:hover {
    background: none;
    color: inherit
}

.navigation_Navigation__drawer-toggler__3v6tL {
    background: none;
    border: 4px solid;
    color: var(--color-white);
    display: inline-block;
    height: 40px;
    margin: 0 calc(var(--base-space) * 2) 0 auto;
    padding: 6px 4px;
    position: relative;
    width: 40px
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true] .navigation_Navigation__drawer-icon-x__1djyO:after,
.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true] .navigation_Navigation__drawer-icon-x__1djyO:before {
    transition-delay: .4s
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true] .navigation_Navigation__drawer-icon-x__1djyO:after {
    transform: translate(-50%, -50%) rotate(45deg);
    transition-delay: .5s
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true] .navigation_Navigation__drawer-icon-x__1djyO:before {
    transform: translate(-50%, -50%) rotate(-45deg)
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true] .navigation_Navigation__drawer-icon-list__Y-Nlf {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955);
    transition-delay: .2s;
    transform: translateX(100%)
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true] .navigation_Navigation__drawer-icon-list__Y-Nlf:after,
.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true] .navigation_Navigation__drawer-icon-list__Y-Nlf:before {
    transition-timing-function: cubic-bezier(.455, .03, .515, .955);
    transform: translateX(100%)
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true] .navigation_Navigation__drawer-icon-list__Y-Nlf:after {
    transition-delay: .1s
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true] .navigation_Navigation__drawer-icon-list__Y-Nlf:before {
    transition-delay: 0s
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true]+.navigation_Navigation__nav__1OI3- {
    height: calc(100vh - 82px);
    transition-timing-function: cubic-bezier(.455, .03, .515, .955)
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true]+.navigation_Navigation__nav__1OI3- .navigation_Navigation__item__c9Pzm {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0) skewY(0deg)
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true]+.navigation_Navigation__nav__1OI3- .navigation_Navigation__item__c9Pzm:nth-child(2) {
    transition-delay: .4s
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true]+.navigation_Navigation__nav__1OI3- .navigation_Navigation__item__c9Pzm:nth-child(3) {
    transition-delay: .5s
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true]+.navigation_Navigation__nav__1OI3- .navigation_Navigation__item__c9Pzm:nth-child(4) {
    transition-delay: .6s
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true]+.navigation_Navigation__nav__1OI3- .navigation_Navigation__item__c9Pzm:nth-child(5) {
    transition-delay: .7s
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true]+.navigation_Navigation__nav__1OI3- .navigation_Navigation__item__c9Pzm:nth-child(6) {
    transition-delay: .8s
}

.navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true]+.navigation_Navigation__nav__1OI3- .navigation_Navigation__item__c9Pzm:nth-child(7) {
    transition-delay: .9s
}

.navigation_Navigation__drawer-icon-wrapper__2znY4 {
    height: 100%;
    overflow: hidden;
    width: 100%
}

.navigation_Navigation__drawer-icon-list__Y-Nlf {
    --height: 4px;
    background-color: currentColor;
    height: var(--height);
    transition: transform .2s ease;
    width: 100%
}

.navigation_Navigation__drawer-icon-list__Y-Nlf:after,
.navigation_Navigation__drawer-icon-list__Y-Nlf:before {
    background-color: inherit;
    content: "";
    display: block;
    height: var(--height);
    position: relative;
    transition: transform .2s cubic-bezier(.455, .03, .515, .955)
}

.navigation_Navigation__drawer-icon-list__Y-Nlf:after {
    transition-delay: .1s;
    top: var(--height)
}

.navigation_Navigation__drawer-icon-list__Y-Nlf:before {
    margin: 0 0 0 auto;
    top: calc(var(--height) * 4);
    transition-delay: .2s;
    width: 75%
}

.navigation_Navigation__drawer-icon-x__1djyO {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 20px;
    width: 24px
}

.navigation_Navigation__drawer-icon-x__1djyO:after,
.navigation_Navigation__drawer-icon-x__1djyO:before {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: currentColor;
    content: "";
    height: 4px;
    transition: transform .2s cubic-bezier(.455, .03, .515, .955);
    width: 100%
}

.navigation_Navigation__drawer-icon-x__1djyO:after {
    transform: translate(-140%, -500%) rotate(45deg)
}

.navigation_Navigation__drawer-icon-x__1djyO:before {
    transform: translate(-135%, 400%) rotate(-45deg)
}

.navigation_Navigation__nav__1OI3- {
    background-color: inherit;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    transition: height .6s cubic-bezier(.455, .03, .515, .955);
    width: 100%;
    will-change: height
}

.navigation_Navigation__list__LyyDW {
    list-style: none;
    margin: 0;
    padding: var(--base-space) 0
}

.navigation_Navigation__item__c9Pzm {
    opacity: 0;
    pointer-events: none;
    text-align: right;
    transform: translateY(100%) skewY(5deg);
    transform-origin: left center;
    transition: transform .4s cubic-bezier(.455, .03, .515, .955) .6s, opacity .4s cubic-bezier(.455, .03, .515, .955) .6s
}

.navigation_Navigation__item__c9Pzm:first-child {
    padding-right: calc(var(--base-space) * 2)
}

.navigation_Navigation__anchor__1n2MF {
    display: block;
    font-size: 18px;
    text-decoration: none;
    padding: calc(var(--base-space) * 2) calc(var(--base-space) * 3)
}

.navigation_Navigation--light__3_Y_D {
    background-color: var(--color-gray);
    color: var(--color-black)
}

.navigation_Navigation--light__3_Y_D .navigation_Navigation__drawer-toggler__3v6tL {
    color: var(--color-black)
}

@media screen and (min-width:750px) {
    .navigation_Navigation__1vNsH {
        --nav-size-expanded: 356px;
        align-items: start;
        background: none;
        grid-gap: var(--base-space);
        gap: var(--base-space);
        overflow: hidden;
        transition: color .4s ease
    }

    .navigation_Navigation__buttons__1iI4B {
        padding-top: 4px;
        padding-right: calc(var(--base-space) * 3);
        position: relative
    }

    .navigation_Navigation__buttons__1iI4B button {
        display: inline-flex
    }

    .navigation_Navigation__drawer-toggler__3v6tL {
        display: none
    }

    .navigation_Navigation__drawer-toggler__3v6tL[aria-expanded=true]+.navigation_Navigation__nav__1OI3- {
        height: auto
    }

    .navigation_Navigation__logo__1nnku {
        position: relative;
        transition: color .4s ease
    }

    .navigation_Navigation__logo-anchor__FfJuC {
        transition: width .8s cubic-bezier(.455, .03, .515, .955), opacity .4s ease;
        position: relative;
        z-index: 1
    }

    .navigation_Navigation__logo-toggler__1UVXE {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: none;
        cursor: pointer;
        color: inherit;
        display: block;
        opacity: 0;
        padding: 0;
        z-index: 1;
        transition: opacity .4s ease
    }

    .navigation_Navigation__bar__2QEtw {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition: transform .8s cubic-bezier(.455, .03, .515, .955), background-color .4s ease;
        transform: translateX(-100%);
        width: 100vw
    }

    .navigation_Navigation__nav__1OI3- {
        background-color: transparent;
        height: auto;
        overflow: visible;
        padding: 0 calc(var(--base-space) * 3) 0 0;
        position: relative;
        top: auto;
        width: auto
    }

    .navigation_Navigation__list__LyyDW {
        display: grid;
        grid-template-columns: repeat(6, -webkit-max-content);
        grid-template-columns: repeat(6, max-content);
        grid-gap: 0 calc(var(--base-space) * 3);
        gap: 0 calc(var(--base-space) * 3);
        justify-content: end;
        padding: var(--base-space) 0 0 0
    }

    .navigation_Navigation__item__c9Pzm {
        opacity: 1;
        pointer-events: all;
        text-align: center;
        transform: translateY(0)
    }

    .navigation_Navigation__item__c9Pzm:nth-child(2) {
        transition-delay: .3s
    }

    .navigation_Navigation__item__c9Pzm:nth-child(3) {
        transition-delay: .4s
    }

    .navigation_Navigation__item__c9Pzm:nth-child(4) {
        transition-delay: .5s
    }

    .navigation_Navigation__item__c9Pzm:nth-child(5) {
        transition-delay: .6s
    }

    .navigation_Navigation__item__c9Pzm:nth-child(6) {
        transition-delay: .7s
    }

    .navigation_Navigation__item__c9Pzm:nth-child(7) {
        transition-delay: .8s
    }

    .navigation_Navigation__item__c9Pzm:first-child {
        display: none
    }

    .navigation_Navigation__anchor__1n2MF {
        font-size: 16px;
        overflow: hidden;
        padding: 0 4px;
        position: relative;
        transition: color .3s cubic-bezier(.455, .03, .515, .955) .1s;
        will-change: transform, color
    }

    .navigation_Navigation__anchor__1n2MF:before {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        content: "";
        background-color: var(--color-white);
        transform: translateY(calc(100% + 5px)) skewY(3deg);
        transition: transform .3s cubic-bezier(.455, .03, .515, .955)
    }

    .navigation_Navigation__anchor__1n2MF span {
        position: relative
    }

    .navigation_Navigation__anchor__1n2MF:hover {
        color: var(--color-black)
    }

    .navigation_Navigation__anchor__1n2MF:hover:before {
        transform: none
    }

    .navigation_Navigation__logo-anchor__FfJuC:hover,
    .navigation_Navigation__logo-toggler__1UVXE:hover {
        width: var(--nav-size-expanded)
    }

    .navigation_Navigation__logo-anchor__FfJuC:hover .navigation_Logo__closing__JIOLG,
    .navigation_Navigation__logo-anchor__FfJuC:hover .navigation_Logo__collective__X_JYA,
    .navigation_Navigation__logo-anchor__FfJuC:hover .navigation_Logo__the__3-5ZM,
    .navigation_Navigation__logo-toggler__1UVXE:hover .navigation_Logo__closing__JIOLG,
    .navigation_Navigation__logo-toggler__1UVXE:hover .navigation_Logo__collective__X_JYA,
    .navigation_Navigation__logo-toggler__1UVXE:hover .navigation_Logo__the__3-5ZM {
        opacity: 1;
        transform: translateX(0);
        transition-delay: .2s
    }

    .navigation_Navigation__logo-anchor__FfJuC:hover .navigation_Logo__collective__X_JYA,
    .navigation_Navigation__logo-toggler__1UVXE:hover .navigation_Logo__collective__X_JYA {
        transition-delay: .3s
    }

    .navigation_Navigation__logo-anchor__FfJuC:hover .navigation_Logo__closing__JIOLG,
    .navigation_Navigation__logo-toggler__1UVXE:hover .navigation_Logo__closing__JIOLG {
        transition-delay: .4s
    }

    .navigation_Navigation--scrolled__14L_p .navigation_Navigation__logo__1nnku {
        color: var(--color-black)
    }

    .navigation_Navigation--scrolled__14L_p .navigation_Navigation__logo-toggler__1UVXE {
        opacity: 1;
        z-index: 2
    }

    .navigation_Navigation--scrolled__14L_p .navigation_Navigation__logo-toggler__1UVXE:hover~.navigation_Navigation__bar__2QEtw {
        transform: translateX(calc(-100% + var(--nav-size-expanded)))
    }

    .navigation_Navigation--scrolled__14L_p .navigation_Navigation__logo-anchor__FfJuC {
        opacity: 0
    }

    .navigation_Navigation--scrolled__14L_p .navigation_Navigation__bar__2QEtw {
        transform: translateX(calc(-100% + var(--nav-size)))
    }

    .navigation_Navigation--scrolled__14L_p .navigation_Navigation__item__c9Pzm {
        pointer-events: none;
        opacity: 0;
        transform: translateY(100%) skewY(2deg);
        transition-delay: .1s
    }

    .navigation_Navigation--scrolled__14L_p .navigation_Navigation__buttons__1iI4B button {
        transition: opacity .2s ease 0s;
        opacity: 0
    }

    .navigation_Navigation--scrolled__14L_p .navigation_Navigation__buttons__1iI4B a:focus {
        background-color: var(--color-black)
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b {
        color: var(--color-black)
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__anchor__1n2MF:before {
        background-color: var(--color-black)
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__anchor__1n2MF:hover {
        color: var(--color-white)
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__bar__2QEtw {
        transform: translateX(0)
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__buttons__1iI4B {
        z-index: 2
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__buttons__1iI4B button {
        transition-delay: .7s;
        opacity: 1
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__logo-toggler__1UVXE {
        opacity: 0;
        z-index: 1
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__logo-toggler__1UVXE:hover~.navigation_Navigation__bar__2QEtw {
        transform: translateX(0)
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__logo-anchor__FfJuC {
        opacity: 1
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__logo-anchor__FfJuC:hover {
        width: var(--nav-size)
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__logo-anchor__FfJuC:hover .navigation_Logo__closing__JIOLG,
    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__logo-anchor__FfJuC:hover .navigation_Logo__collective__X_JYA,
    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__logo-anchor__FfJuC:hover .navigation_Logo__the__3-5ZM {
        opacity: 0
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__nav__1OI3- {
        z-index: 2
    }

    .navigation_Navigation--scrolled__14L_p.navigation_Navigation--open__1Cb-b .navigation_Navigation__item__c9Pzm {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0) skewY(0dev)
    }

    .navigation_Navigation--light__3_Y_D .navigation_Navigation__anchor__1n2MF:before {
        background-color: var(--color-black)
    }

    .navigation_Navigation--light__3_Y_D .navigation_Navigation__anchor__1n2MF:hover {
        color: var(--color-white)
    }
}